In [1]:
import pandas as pd
import random

In [2]:
data = pd.read_csv("atp_data.csv", low_memory=False)
data["Date"] = pd.to_datetime(data["Date"])
data.sort_values("Date")
data.head(10000)

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,Wsets,Lsets,Comment,PSW,PSL,B365W,B365L,elo_winner,elo_loser,proba_elo
0,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
1,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,Kiefer N.,...,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
2,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,Gaudio G.,...,2.0,1.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
3,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,El Aynaoui Y.,...,2.0,1.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
4,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,Cherkasov A.,...,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,30,Paris,French Open,2004-05-26,Grand Slam,Outdoor,Clay,2nd Round,5,Corretja A.,...,3.0,0.0,Completed,1.400,3.150,1.286,3.500,1483.418075,1627.554805,0.303705
9996,30,Paris,French Open,2004-05-26,Grand Slam,Outdoor,Clay,2nd Round,5,Blanco G.,...,3.0,2.0,Completed,4.850,1.211,4.500,1.167,1455.271206,1663.979797,0.231222
9997,30,Paris,French Open,2004-05-26,Grand Slam,Outdoor,Clay,2nd Round,5,Chela J.I.,...,3.0,0.0,Completed,2.100,1.769,2.100,1.667,1687.174569,1650.668065,0.552345
9998,30,Paris,French Open,2004-05-26,Grand Slam,Outdoor,Clay,2nd Round,5,Coria G.,...,3.0,0.0,Completed,1.050,15.250,1.040,9.000,1931.653360,1585.655430,0.879925
9999,30,Paris,French Open,2004-05-26,Grand Slam,Outdoor,Clay,1st Round,5,Gaudio G.,...,3.0,2.0,Completed,1.588,2.500,1.571,2.250,1632.214002,1632.442564,0.499671

In [3]:
columns_list = data.columns.tolist()
columns_list

['ATP',
 'Location',
 'Tournament',
 'Date',
 'Series',
 'Court',
 'Surface',
 'Round',
 'Best of',
 'Winner',
 'Loser',
 'WRank',
 'LRank',
 'Wsets',
 'Lsets',
 'Comment',
 'PSW',
 'PSL',
 'B365W',
 'B365L',
 'elo_winner',
 'elo_loser',
 'proba_elo']

In [4]:
columns_to_keep = [
    "Date",
    "Surface",
    "Best of",
    "Winner",
    "Loser",
    "WRank",
    "LRank",
    "PSW",
    "PSL",
    "B365W",
    "B365L",
    "elo_winner",
    "elo_loser",
]

In [5]:
data_new = data[columns_to_keep]

In [6]:
data_new.head(10)

,Date,Surface,Best of,Winner,Loser,WRank,LRank,PSW,PSL,B365W,B365L,elo_winner,elo_loser
0,2000-01-03,Hard,3,Dosedel S.,Ljubicic I.,63,77,NaN,NaN,NaN,NaN,1500.0,1500.0
1,2000-01-03,Hard,3,Kiefer N.,Tarango J.,6,59,NaN,NaN,NaN,NaN,1500.0,1500.0
2,2000-01-03,Hard,3,Gaudio G.,Luxa P.,73,174,NaN,NaN,NaN,NaN,1500.0,1500.0
3,2000-01-03,Hard,3,El Aynaoui Y.,Dupuis A.,33,78,NaN,NaN,NaN,NaN,1500.0,1500.0
4,2000-01-03,Hard,3,Cherkasov A.,Arazi H.,206,35,NaN,NaN,NaN,NaN,1500.0,1500.0
5,2000-01-03,Hard,3,Caratti C.,Heuberger I.,211,219,NaN,NaN,NaN,NaN,1500.0,1500.0
6,2000-01-03,Hard,3,Berasategui A.,Al-Alawi S.K.,60,2000,NaN,NaN,NaN,NaN,1500.0,1500.0
7,2000-01-03,Hard,3,Bastl G.,Novak J.,85,36,NaN,NaN,NaN,NaN,1500.0,1500.0
8,2000-01-03,Hard,3,Hantschk M.,Pioline C.,128,14,NaN,NaN,NaN,NaN,1500.0,1500.0
9,2000-01-03,Hard,3,Golmard J.,Damm M.,38,104,NaN,NaN,NaN,NaN,1500.0,1500.0

In [7]:
len(data_new)

44708

In [8]:
data_no_nan = data_new.dropna()

In [9]:
len(data_no_nan)

32343

In [10]:
data_no_nan.head(10)

,Date,Surface,Best of,Winner,Loser,WRank,LRank,PSW,PSL,B365W,B365L,elo_winner,elo_loser
8678,2004-01-05,Hard,3,Ulihrach B.,Kiefer N.,246,58,2.210,1.719,2.200,1.615,1486.195239,1618.182210
8679,2004-01-05,Hard,3,Youzhny M.,Schuettler R.,43,6,3.250,1.385,2.875,1.364,1615.057648,1820.759485
8680,2004-01-05,Hard,3,Sargsian S.,Carraz G.,39,67,1.746,2.180,1.571,2.250,1654.468551,1588.330984
8682,2004-01-05,Hard,3,Lisnard J.R.,Pless K.,97,440,1.562,2.580,1.571,2.250,1533.308961,1473.299803
8683,2004-01-05,Hard,3,Levy H.,Portas A.,111,85,1.641,2.360,1.570,2.250,1401.283125,1418.621881
8684,2004-01-05,Hard,3,Arazi H.,Enqvist T.,52,96,2.060,1.820,2.100,1.667,1584.479208,1569.027967
8685,2004-01-05,Hard,3,van Lottum J.,Blanco G.,92,99,1.455,2.900,1.444,2.625,1452.260713,1493.478855
8686,2004-01-05,Hard,3,Andreev I.,Ramirez-Hidalgo R.,88,80,1.463,2.910,1.500,2.500,1536.771336,1433.117749
8688,2004-01-05,Hard,3,Ferrer D.,Verdasco F.,71,109,1.885,1.971,1.727,2.000,1555.497316,1496.242628
8689,2004-01-05,Hard,3,Dupuis A.,Popp A.,78,90,1.820,2.060,1.727,2.000,1482.880405,1526.843026

In [11]:
def permute_data(data):
    permuted_data = []
    for index, row in data.iterrows():
        r = random.randint(0, 1)
        if r == 0:
            rta = row.tolist()
            rta.append(0)
        else:
            rta = row.tolist()
            rta[3], rta[4] = rta[4], rta[3]
            rta[5], rta[6] = rta[6], rta[5]
            rta[7], rta[8] = rta[8], rta[7]
            rta[9], rta[10] = rta[10], rta[9]
            rta[11], rta[12] = rta[12], rta[11]
            rta.append(1)
        permuted_data.append(rta)
    return permuted_data

In [12]:
selected_columns = [
    "Date",
    "Surface",
    "Best of",
    "Player0",
    "Player1",
    "0Rank",
    "1Rank",
    "PS0",
    "PS1",
    "B3650",
    "B3651",
    "elo_0",
    "elo_1",
    "winner",
]
permuted_df = pd.DataFrame(columns=selected_columns)

In [13]:
df = pd.DataFrame(permute_data(data_no_nan), columns=selected_columns)

In [14]:
df.head(10)

,Date,Surface,Best of,Player0,Player1,0Rank,1Rank,PS0,PS1,B3650,B3651,elo_0,elo_1,winner
0,2004-01-05,Hard,3,Ulihrach B.,Kiefer N.,246,58,2.210,1.719,2.200,1.615,1486.195239,1618.182210,0
1,2004-01-05,Hard,3,Schuettler R.,Youzhny M.,6,43,1.385,3.250,1.364,2.875,1820.759485,1615.057648,1
2,2004-01-05,Hard,3,Sargsian S.,Carraz G.,39,67,1.746,2.180,1.571,2.250,1654.468551,1588.330984,0
3,2004-01-05,Hard,3,Pless K.,Lisnard J.R.,440,97,2.580,1.562,2.250,1.571,1473.299803,1533.308961,1
4,2004-01-05,Hard,3,Portas A.,Levy H.,85,111,2.360,1.641,2.250,1.570,1418.621881,1401.283125,1
5,2004-01-05,Hard,3,Arazi H.,Enqvist T.,52,96,2.060,1.820,2.100,1.667,1584.479208,1569.027967,0
6,2004-01-05,Hard,3,van Lottum J.,Blanco G.,92,99,1.455,2.900,1.444,2.625,1452.260713,1493.478855,0
7,2004-01-05,Hard,3,Ramirez-Hidalgo R.,Andreev I.,80,88,2.910,1.463,2.500,1.500,1433.117749,1536.771336,1
8,2004-01-05,Hard,3,Ferrer D.,Verdasco F.,71,109,1.885,1.971,1.727,2.000,1555.497316,1496.242628,0
9,2004-01-05,Hard,3,Popp A.,Dupuis A.,90,78,2.060,1.820,2.000,1.727,1526.843026,1482.880405,1

In [15]:
df.to_csv("processed_results.csv", index=None)

In [16]:
data = pd.read_csv("processed_results.csv", low_memory=False)
data["Date"] = pd.to_datetime(data["Date"])
data.sort_values("Date")
data.head(10000)

,Date,Surface,Best of,Player0,Player1,0Rank,1Rank,PS0,PS1,B3650,B3651,elo_0,elo_1,winner
0,2004-01-05,Hard,3,Ulihrach B.,Kiefer N.,246,58,2.210,1.719,2.200,1.615,1486.195239,1618.182210,0
1,2004-01-05,Hard,3,Schuettler R.,Youzhny M.,6,43,1.385,3.250,1.364,2.875,1820.759485,1615.057648,1
2,2004-01-05,Hard,3,Sargsian S.,Carraz G.,39,67,1.746,2.180,1.571,2.250,1654.468551,1588.330984,0
3,2004-01-05,Hard,3,Pless K.,Lisnard J.R.,440,97,2.580,1.562,2.250,1.571,1473.299803,1533.308961,1
4,2004-01-05,Hard,3,Portas A.,Levy H.,85,111,2.360,1.641,2.250,1.570,1418.621881,1401.283125,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2007-08-07,Hard,3,Youzhny M.,Grosjean S.,13,73,1.513,2.800,1.440,2.620,1779.257917,1608.225548,0
9996,2007-08-07,Hard,3,Mathieu P.H.,Canas G.,23,15,2.150,1.800,2.100,1.660,1820.656479,1800.385698,0
9997,2007-08-07,Hard,3,Ljubicic I.,Odesnik W.,11,182,1.235,4.850,1.160,4.500,1791.184091,1444.582060,1
9998,2007-08-07,Hard,3,Nieminen J.,Benneteau J.,27,59,1.513,2.800,1.440,2.620,1694.510434,1571.360070,0
9999,2007-08-08,Hard,3,Ancic M.,Mathieu P.H.,38,23,2.810,1.510,2.500,1.500,1806.569979,1835.724033,1

In [17]:
len(data)

32343